* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: hsl(206, 4%, 97%);
}

/* -------------------- LOADER -------------------- */
/* -------------------- LOADER -------------------- */
#loader {
    width: 100vw;
    height: 100vh;
    background-color: hsl(206, 4%, 97%);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
  
#loader img {
    width: 80px;
    position: relative;
    animation: loader-effect 1.5s infinite;
}

#loader.display-none {
    display: none;
}
  
@keyframes loader-effect {
    0% {
        top: -10px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: -10px;
    }
}

/* -------------------- CART -------------------- */
/* -------------------- CART -------------------- */
.cart {
    width: 40vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -40vw;
    padding: 2rem;
    z-index: 20;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
    transition: .4s;
}

.show-cart {
    right: 0;
}

#cart-close-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#cart-close {
    font-size: 3rem;
    font-weight: 400;
    cursor: pointer;
}

.cart > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1rem;
}

#cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

#cart-container > img {
    width: 75px;
    height: 75px;
    padding: 0.5rem;
    border: 1px solid hsl(0, 0%, 94%);
}

#cart-container-text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-left: 2rem;
}

#cart-container-text > h3 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

#cart-container-text > h4 {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 35%);
    letter-spacing: 0.05rem;
}

#cart-container-text > h4 > span {
    font-size: 1rem;
    font-weight: 400;
    color: #e94959;
    letter-spacing: 0.05rem;
}

#cart-container-text > span {
    font-size: 1.4rem;
    font-weight: 400;
    color: #e94959;
    letter-spacing: 0.05rem;
}

#cart-container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

#cart-container-buttons > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background: #ffffff;
    font-size: 2rem;
    color: hsl(0, 0%, 35%);
    border: 1px solid hsl(0, 0%, 94%);
    font-weight: 300;
    cursor: pointer;
}

#cart-container-buttons > h4 {
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(0, 0%, 35%);
    letter-spacing: 0.05rem;
    margin: 0 1rem;
}

#cart-container-buttons > img {
    margin-left: 3rem;
    width: 1.6rem;
    cursor: pointer;
}

#checkout-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

#checkout-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    background: #434343;
    font-size: 1.5rem;
    border: none;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
    position: absolute;
    top: 200px;
}

/* -------------------- NAV -------------------- */
/* -------------------- NAV -------------------- */
header {
    width: 100%;
    height: 75px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
}

.header-scroll {
    background-color: #ffffff;
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .10);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 8rem;
    gap: 4rem;
}

.nav-logo {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    color: #e94959;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.nav-list a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
    transition: all 0.4s ease;
}

.nav-list a:hover {
    color: #e94959;
}

.nav-a-select {
    color: #e94959 !important;
}

.nav-icons {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    z-index: 1;
}

.nav-icons > img {
    width: 16px;
    cursor: pointer;
}

.nav-icon-bag {
    width: 22px !important;
}

.nav-icons .display-none {
    display: none;
}

/* -------------------- HOME -------------------- */
/* -------------------- HOME -------------------- */
.home-grid-container {
    /* display: grid;
    grid-template-columns: 1fr max-content; */
    display: flex;
    align-items: center;
    padding: 6rem;
    margin: 2rem;
    height: auto;
    position: relative;
    margin-bottom: 20rem;
    margin-top: 12rem;
}

.home-text {
    max-width: 35vw;
    min-width: 20vw;
    padding-top: 3rem;
}

.home-text > h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.home-text > p {
    font-size: 1.6rem;
    color: #818181;
    margin-bottom: 2rem;
}

.home-text > h3 {
    font-size: 2rem;
    color: #e94959;
    letter-spacing: 0.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.boton {
    display: flex;
    align-items: center;
}

.boton-uno {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4.5rem;
    background: #bfbfbf;
    font-size: 1.5rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;
}

.boton-uno:hover {
    color: #ffffff;
    background: #a0a0a0;
}

.boton-dos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 5.5rem;
    background: #434343;
    font-size: 1.5rem;
    border: none;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease;
}

.boton-dos:hover {
    background: #e94959;
}

.home-product {
    background: #e94959;
    display: flex;
    height: 660px;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 5rem;
    top: -12rem;
}

.home-product > img {
    width: 480px;
    height: 480px;
    position: relative;
    bottom: 4rem;
}

/* -------------------- PRODUCTS -------------------- */
/* -------------------- PRODUCTS -------------------- */
#section-products {
    padding-top: 10rem;
}

.product-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

.product-list > li {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 16rem;
    padding: auto;
    cursor: pointer;
    margin: 1rem 2rem;
}

.product-list > li > h3 {
    font-size: 2rem;
    font-weight: 400;
    color: hsl(0, 0%, 35%);
}

.product-list > li > span {
    color: hsl(0, 0%, 35%);
    font-size: 1.2rem;
}

.product-list > li:nth-child(1) {
    border-right: 1px solid #000000;
}

.product-list > li:nth-child(2) {
    border-right: 1px solid #000000;
}

.product-list > li:nth-child(3) {
    border-right: 1px solid #000000;
}

#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.product-card {
    border-radius: 8px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
}

.product-card > div:first-child {
    background: #e6e6e6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1rem;
    position: relative;
    width: calc(200px + 1rem);
    height: calc(200px + 1rem);
}

.product-card > div:first-child > img {
    width: 200px;
    height: 200px;
    position: absolute;
}

.product-card:hover > div:first-child > img {
    bottom: 4px;
    transition: all 2s ease;
}

.product-card > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1.2rem 0 1.2rem;
}

.product-card > div:nth-child(2) > h3 {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.product-card > div:nth-child(2) > span {
    font-size: 1.2rem;
    color: #434343;
}

.product-card > h4 {
    padding-left: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.card-boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: #ffffff;
    font-size: 2.5rem;
    border: none;
    font-weight: 500;
    border-radius: 50%;
    position: absolute;
    bottom: 4.6rem;
    left: 14rem;
    box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);
    cursor: pointer;
}

.card-boton:hover {
    background: #e94959;
    color: #ffffff;
    transition: all 0.3s ease;
}

/* -------------------- FOOTER -------------------- */
/* -------------------- FOOTER -------------------- */
#section-footer {
    margin-top: 10rem;
    background: hsl(0, 0%, 90%);
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#section-footer > div {
    display: grid;
    border-bottom: 1px solid hsl(0, 0%, 94%);
    padding-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-items: center;
    gap: 3rem;
}

.footer-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}

#section-footer h4 {
    color: hsl(0, 0%, 35%);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

#section-footer ul {
    list-style: none;
}

#section-footer li {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-footer a {
    text-decoration: none;
    color: hsl(0, 0%, 35%);
    font-size: 1.2rem;
    font-weight: 400;
}

#section-footer a:hover {
    color:#000000;
    transition: all 0.5s ease;
}

.footer-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
}

.footer-logos img {
    width: 20px;
    cursor: pointer;
}

.footer-logos img:hover {
    position: relative;
    top: -0.2rem;
}

#section-footer > span {
    display: block;
    padding: 7rem 0 4rem 0;;
    text-align: center;
    color: hsl(0, 0%, 35%);
}

/* -------------------- MEDIA QUERY -------------------- */
/* -------------------- MEDIA QUERY -------------------- */
@media screen and (max-width:990px) {
    .home-grid-container {
        margin-bottom: 10rem;
    }

    .home-product {
        height: 500px;
        width:340px;
        right: -2rem;
    }
    
    .home-product > img {
        width: 340px;
        height: 340px;
        position: relative;
        bottom: 4rem;
    }
}

@media screen and (max-width:760px) {
    .nav-list a {
        display: none;
    }

    .nav-icons .app-icon {
        display: inline;
    }

    #section-home {
        margin-bottom: 0;
    }
    
    .home-text {
        padding-top: 35rem;
        max-width: 100%;
        min-width: 20vw;
    }

    #section-footer > div {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* @media only screen and (max-width:580) {

} */